/* Main Header */
.mainheader {
    position:sticky; /* Fix the header at the top */
    top: 0;
    left: 0;
    width: 100%; /* Full width */
    display: flex;
    align-items: center;
    justify-content: space-between; /* Spread menu, navbar, and profile icon */
    background-color: #f8f9fa;
    overflow: show;
    padding: 10px;
    z-index: 1000; /* Ensure the header is above other content */
}

/* Menu Button */
.menu {
    margin-left: 10px;
}

.menu .dropdown .btn {
    position: relative;
    font-size: 1.5rem;
}

/* Navigation Bar */
.navbar {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

/* Profile Icon */
.profileicon {
    display: flex;
    justify-content: flex-end;
    margin-left: auto;
    right: 60px ;
    position: fixed;
     /* Move the profile icon to the right */
}

.profileicon .dropdown .btn {
    position: relative;
    font-weight: 100;
    border-radius: 50%;
    font-size: 1.5rem;
}